<% provide(:title, 'ストーブ') %>
<div>
  <table class="table table-bordered table-condensed" id="maint-table">
    <thead>
      <tr>
        <th>受付日</th>
        <th>氏名</th>
        <th>進捗</th>
        <th>煙突</th>
        <th>本体</th>
        <th>電話</th>
        <th>携帯</th>
        <th>〒</th>
        <th>住所</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
